@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,800;1,900&display=swap');

:root{
    --cor000:white;
    --cor00:#0A122A;
    --cor1:#2176AE;
    --cor2:#57B8FF;
    --cor3:#1CFEBA;
    --cor4:#95F2D9;
    --font_text:'Nunito', cursive;
    --font_title: 'Montserrat', cursive;
    --font_master: 'Grandstander', cursive;
}
*{
    margin:0;
    padding: 0;
}
body{
    background-color: var(--cor2);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}
header{
display: flex;
background: linear-gradient( to bottom, var(--cor2), var(--cor1));
max-width:100vw;
width: 100vw;
height:15vh;
box-shadow: 1px 1px 8px #0d2d43bd;
margin: 0 auto;
justify-content: center;
padding:20px;
align-items: center;
}
header  h1 {
    font-family: var(--font_master);
    color: var(--cor000);
    text-shadow: 1px 1px rgba(99, 99, 99, 0.601);
    align-items: center;
    
}
header  img{
    height:100%;
}
nav{
    width: 100vw;
    font-family: var(--font_text);
    background-color: var(--cor1);
    box-shadow: 1px 1px 8px #0d2d43bd;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
nav > a{
    width: 100px;
    text-decoration: none;
    color: var(--cor000);
    font-weight: 400;
    justify-content: center;
    text-align: center;
    
    
}
nav > a:hover{
    font-weight: 900;
    background: var(--cor000);
    color: var(--cor1);
    transition-duration: 0.6s;
}
main{
    background: var(--cor000);
    width: 100vw;
    max-width: 918px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}
main > h1 {
    font-family: var(--font_master);
    color:  var(--cor00);
    text-align: center;
    padding: 50px;
    display: flex;

}
.conteiner {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:100%;
    padding: 0 0 100px ;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}
.projetos{
    width: 23%;
    min-width:300px;
    box-shadow: rgba(102, 102, 102, 0.508);
    border-radius: 15px 0 15px;
    border: dashed var(--cor00);
    padding: 25px ;
    box-sizing: border-box;
}
.projetos  a{
    color: var(--cor1);
    text-decoration: none;
    font-weight: 500;
}
.inspiration{
    width: 23%;
    min-width:300px;
    box-shadow: rgba(102, 102, 102, 0.508);
    border-radius: 15px 0 15px;
    border: dashed var(--cor00);
    padding:25px;
    box-sizing: border-box;
}
.hability{
    width: 20%;
    min-width:300px;
    box-sizing: content-box;
    box-shadow: rgba(102, 102, 102, 0.508);
    border-radius: 15px 0 15px;
    border: dashed var(--cor00);
    padding:25px;
}
.hability ul li{
    list-style: inside;
    font-family: var(--font_text);
    color:var(--cor00);
    text-align: justify;
    padding-top:10px;
    
}
.conteiner  h3 {
    text-align: center;
    color: var(--cor1);
    font-family: var(--font_title);
    font-weight: 900;


}
.conteiner p{
    font-family: var(--font_text);
    color:var(--cor00);
    text-indent: 25px;
    text-align: justify;
    padding-top:10px;
    vertical-align: middle;
}
.contact{
    width: 20%;
    min-width:300px;
    box-sizing: content-box;
    box-shadow: rgba(102, 102, 102, 0.508);
    border-radius: 15px 0 15px;
    border: dashed var(--cor00);
    padding:25px;
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.contact > span{
    padding-top:50px;
    font-family: var(--font_text);
    color: #0A122A;
}
.wtpp{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
footer{
    display: flex;
    width: 100vw;
    min-height: 10vh;
    background: var(--cor1);
    justify-content: center;
    align-items: center;
}
footer > address{
    text-align: center;
    font-family: var(--font_text);
    color:var(--cor000);
}


